.user-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 42rem;
  height: 36rem;
  margin-top: 4rem;
  align-items: center;
  border: 0.2rem solid black;
  justify-content: center;
  box-shadow: 0.1rem 0.1rem 0.3rem #444;
}

.user-form span {
  margin-top: 2rem;
}

.user-form label {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.user-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-form-buttons button {
  width: 12rem;
  height: 4rem;
  font-size: 1.8rem;
  margin: auto;
  border-radius: 2rem;
  margin-top: 2rem;
}
