button {
  cursor: pointer;
  background-color: #006ba6;
  color: white;
  border: 0.1rem solid black;
  box-shadow: 0.1rem 0.1rem 0.3rem #444;
}

button:disabled {
  background-color: #777;
  cursor: auto;
  box-shadow: none;
}

button:hover {
  box-shadow: none;
}
