.routine-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  margin: auto;
  margin-top: 4rem;
  width: 80rem;
  height: 48rem;
  border: 0.2rem solid black;
  box-shadow: 0.1rem 0.1rem 0.3rem #444;
}

.routine-form button {
  height: 5.4rem;
  width: 18rem;
  border-radius: 2rem;
  font-size: 2.2rem;
}

.routine-form h2 {
  font-size: 2.8rem;
}

.routine-form input {
  margin-bottom: 2rem;
}

.routine-form input[type="text"] {
  width: 40rem;
  font-size: 1.8rem;
}

.routine-form label {
  font-size: 2rem;
  font-weight: bold;
}

.routine-form textarea {
  width: 60rem;
  height: 16rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
